@model BuildingConferenceRoomInfo.Web.ViewModels.ConferenceRoomViewModel
@{
    ViewBag.Title = "Enter New Conference Room Information";
}

<div class="container">
    <header class="page-header">
        <h2>
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="98" height="98" />
            @ViewBag.Title
        </h2>
    </header>
    @if (Request["Success"]?.ToLower() == "true")
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button class="close" data-dismiss="alert" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Conference room information entry successful for @Model.Name in @Model.BuildingName!
        </div>
    }
    @using (Html.BeginForm("Create", "ConferenceRoom", new { Success = true }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <fieldset class="form-horizontal">
            <legend>New Conference Room</legend>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BuildingName, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.BuildingName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BuildingName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            @Html.EditorFor(model => model.IsAVCapable, new { htmlAttributes = new { @class = "form-control" } })
                            &nbsp;
                            <span class="control-label">@Html.DisplayNameFor(model => model.IsAVCapable)</span>
                        </label>
                    </div>
                    @Html.ValidationMessageFor(model => model.IsAVCapable, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    }
    <div>
        @Html.ActionLink("« Back to List", "List")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
