@model IEnumerable<BuildingConferenceRoomInfo.Web.ViewModels.ConferenceRoomViewModel>
@{
    ViewBag.Title = "Conference Rooms";
}

<div class="container">
    <header class="page-header">
        <h2>
            <img class="img-circle"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 width="98" height="98" />
            Conference Rooms
        </h2>
    </header>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Building)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.IsAVCapable)</th>
                <th>@Html.DisplayNameFor(model => model.Capacity)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Building.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsAVCapable)</td>
                    <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                </tr>
            }
        </table>
    </div>
</div>
