<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Building and Conference Room Info</title>
    @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse"
                        data-toggle="collapse" type="button" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Building and Conference Room Info", "Welcome", "Home",
                new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Buildings", "Index", "Building")</li>
                    <li>@Html.ActionLink("Conference Rooms", "Index", "Room")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div>@RenderBody()</div>
    <footer>
        <div class="container">
            <hr />
            <small class="text-muted">
                &copy; @DateTime.Now.Year Waystar. All rights reserved.
            </small>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
