@model IEnumerable<BuildingConferenceRoomInfo.Web.ViewModels.BuildingViewModel>
@{
    ViewBag.Title = "Buildings";
}

<div class="container">
    <header class="page-header">
        <h2>
            <img class="img-circle"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                width="98" height="98" />
            Buildings
        </h2>
    </header>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.AddressStreet)</th>
                <th>@Html.DisplayNameFor(model => model.AddressCity)</th>
                <th>@Html.DisplayNameFor(model => model.AddressState)</th>
                <th>@Html.DisplayNameFor(model => model.AddressZip)</th>
                <th>@Html.DisplayNameFor(model => model.AddressCountry)</th>
                <th>@Html.DisplayNameFor(model => model.MainPhone)</th>
                <th>@Html.DisplayNameFor(model => model.FloorCount)</th>
                <th>@Html.DisplayNameFor(model => model.ConferenceRoomCount)</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.AddressStreet)</td>
                    <td>@Html.DisplayFor(modelItem => item.AddressCity)</td>
                    <td>@Html.DisplayFor(modelItem => item.AddressState)</td>
                    <td>@Html.DisplayFor(modelItem => item.AddressZip)</td>
                    <td>@Html.DisplayFor(modelItem => item.AddressCountry)</td>
                    <td>@Html.DisplayFor(modelItem => item.MainPhone)</td>
                    <td>@Html.DisplayFor(modelItem => item.FloorCount)</td>
                    <td>@Html.DisplayFor(modelItem => item.ConferenceRoomCount)</td>
                </tr>
            }
        </table>
    </div>
</div>
